@model WebAccountantASP.ViewModel.AddTransactionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AddTransaction")

<h2>Transactions</h2>
@*Add new transaction form*@

@Html.Partial("_DisplayTransactions")


@*A table showing all the Transactions*@




