@model WebAccountantASP.ViewModel.ReportViewModel

@if (Model.Archives != null)
{
    foreach (var group in Model.Archives.GroupBy(m => m.Year))
    {
        <ul>
            <li>
                @group.Key
                <ul>
                    @foreach (var item in group)
                    {
                        <li>
                            @Html.RouteLink(
                             string.Format("{0}", item.MonthName),
                             "",
                             new
                             {
                                 controller = "Report",
                                 action = "MontlyReport",
                                 year = item.Year,
                                 month = item.Month
                             })
                        </li>
                    }
                </ul>
            </li>
        </ul>

    }
}
