@model WebAccountantASP.ViewModel.ReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@Html.Partial("_MontlyNav")


@Html.Partial("_ReportSummary")

@Html.Partial("_DisplayReport")

