@model WebAccountantASP.ViewModel.ReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .income {
        background-color: #C1FEBA;
    }

    .expense {
        background-color: #FFB3AA;
    }
        

</style>

<h2>Reports</h2>

@Html.Partial("_MontlyNav")


@Html.Partial("_ReportSummary")

@Html.Partial("_DisplayReport")

