@model WebAccountantASP.ViewModel.AddAccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>
@*Add Account Form*@
@Html.Partial("_AddAccount")


@*List Of Accounts*@
@Html.Partial("_DisplayAccounts")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
