@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Accountant</h1>
    <p>Welcome to your own personal web accountant that will keep track of your transactions</p>
    <p>and create automatic reports</p>

    <button class="btn btn-default">@Html.ActionLink("Record Balance Data", "RecordBalance", "Home")</button>
</div>



@*@Html.Partial("~/Views/Account/_AddAccount.cshtml") 
Will add later an option to add account and transaction from home*@
