@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Accountant</h1>
    <p>Welcome to your own personal web accountant that will keep track of your transactions</p>
    <p>and create automatic reports</p>
</div>

